body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
    background: linear-gradient(to right, #355c7d, #6c5b7b, #c06c84);
    color: #f8f9fa;
}

a.a-img:link {
    color: #28a745;
    background-color: rgba(0, 0, 0, 0.9);
}

a.a-img:visited {
    color: #28a745;
    background-color: rgba(0, 0, 0, 0.9);
}

a.a-img:hover {
    color: #dc3545;
    background-color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}

a.a-img:active {
    color: #dc3545;
    background-color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}

.btn-outline-light.text-3d {
    color: #f8f9fa;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    opacity: 0.5;
}

.btn-outline-light.text-3d:hover {
    color: #f8f9fa;
    background-color: transparent;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    opacity: 0.9;
}

.btn-outline-light:not(:disabled):not(.disabled):active,
.btn-outline-light:not(:disabled):not(.disabled).active,
.show>.btn-outline-light.dropdown-toggle {
    color: #f8f9fa;
    background-color: transparent;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
    opacity: 0.9;
    border: 0;
}

.card.sd {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.card.sd:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.search {
    font-weight: 600;
    width: 300px;
    padding: 10px 10px;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    outline: 0;
}

.select {
    font-weight: 600;
    width: 80px;
    padding: 5px 5px;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    outline: 0;
}

.bg-gd {
    background: linear-gradient(to right, #1d4350, #a43931);
    opacity: 0.87;
}

.mm {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    margin-bottom: 7%;
}

.card.hl .a-img {
    opacity: 0;
}

.card:hover.hl .a-img {
    opacity: 1;
}

.card:hover.hl .card-img {
    opacity: 0.9;
}

.cur-select {
    cursor: pointer;
}

.material-icons.md-36 {
    font-size: 36px;
}

.bg-tran-1 {
    background-color: rgb(0, 0, 0, 0.3);
    color: #f8f9fa;
}

.bg-tran-2 {
    background-color: rgb(0, 0, 0, 0.7);
    color: #f8f9fa;
}

.btn.small {
    padding: 0;
    line-height: 1;
}

.btn-outline-light {
    color: #f8f9fa;
    border-color: transparent;
}

.btn-outline-light:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: transparent;
}

.btn-outline-dark {
    color: #212529;
}

.btn-outline-dark:hover {
    color: #f8f9fa;
    background-color: #212529;
    border-color: transparent;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: 0px;
    line-height: 1.25;
    color: #f8f9fa;
    font-size: 150%;
    background-color: #212529;
    border: 0;
    opacity: 0.6;
}

.page-link:hover {
    color: #212529;
    text-decoration: none;
    background-color: #f8f9fa;
}

.page-link:focus {
    outline: 0;
    box-shadow: 0;
}

.page-item.active .page-link {
    color: #212529;
    background-color: #f8f9fa;
}

.page-item.disabled .page-link {
    color: #f8f9fa;
    background-color: #212529;
    opacity: 0;
}

.footer {
    position: absolute;
    bottom: 0;
    padding: 5px;
    width: 100%;
    height: 100px;
}

.card-img-overlay {
    padding: 0;
}

.card-carousel .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -50px;
}

.card-carousel .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 20px;
    height: 1px;
}

.card-carousel .carousel-indicators .active {
    background: #f8f9fa;
}

.carousel-control-prev,
.carousel-control-next {
    width: 8%;
    opacity: 0.5;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 100px;
    height: 100px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.spinner {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.spinner div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #f8f9fa;
    animation: spinner 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.spinner div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
}

.spinner div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
}

.spinner div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
}

@keyframes spinner {
    0% {
        top: 6px;
        height: 51px;
    }

    50%,
    100% {
        top: 19px;
        height: 26px;
    }
}


.sign {
    color: #c6e2ff;
    background: transparent;
    border: 0;
    animation: neon .08s ease-in-out infinite alternate;
}

.sign:focus {
    outline: 0;
}

@keyframes neon {
    from {
        text-shadow:
            0 0 6px rgba(202, 228, 225, 0.92),
            0 0 30px rgba(202, 228, 225, 0.34),
            0 0 12px rgba(30, 132, 242, 0.52),
            0 0 21px rgba(30, 132, 242, 0.92),
            0 0 34px rgba(30, 132, 242, 0.78),
            0 0 54px rgba(30, 132, 242, 0.92);
    }

    to {
        text-shadow:
            0 0 6px rgba(202, 228, 225, 0.98),
            0 0 30px rgba(202, 228, 225, 0.42),
            0 0 12px rgba(30, 132, 242, 0.58),
            0 0 22px rgba(30, 132, 242, 0.84),
            0 0 38px rgba(30, 132, 242, 0.88),
            0 0 60px rgba(30, 132, 242, 1);
    }
}