body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

input[type=search] {
    font-weight: 600;
    width: 300px;
    padding: 10px 10px;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
}

select {
    font-weight: 600;
    width: 80px;
    padding: 5px 5px;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.btn.small {
    padding: 0;
    line-height: 1;
}

.btn-outline-light {
    color: #f8f9fa;
    border-color: transparent;
}

.btn-outline-light:hover {
    color: #212529;
    background-color: #f8f9fa;
    border-color: transparent;
}

.btn-outline-dark {
    color: #212529;
}

.btn-outline-dark:hover {
    color: #f8f9fa;
    background-color: #212529;
    border-color: transparent;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #212529;
    font-size: 150%;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    z-index: 2;
    color: #f8f9fa;
    text-decoration: none;
    background-color: #212529;
    border-color: #dee2e6;
}

.page-link:focus {
    z-index: 2;
    outline: 0;
    box-shadow: 0;
}

.page-item.active .page-link {
    z-index: 1;
    color: #f8f9fa;
    background-color: #212529;
    border-color: #f8f9fa;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #f8f9fa;
    border-color: #dee2e6;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
}

.card-img-overlay {
    padding: 0;
}

.hide-text {
    opacity: 0;
}

.img-overlay:hover .hide-text {
    opacity: 1;
}

.img-overlay:hover {
    opacity: 0.95;
}

.a-color:link {
    color: lavender;
    background-color: rgba(0, 0, 0, 0.9);
}

/* visited link */
.a-color:visited {
    color: lavender;
    background-color: rgba(0, 0, 0, 0.9);
}

/* mouse over link */
.a-color:hover {
    color: orange;
    background-color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}

/* selected link */
.a-color:active {
    color: orange;
    background-color: rgba(0, 0, 0, 0.9);
    text-decoration: none;
}

.card-carousel .carousel-indicators {
    left: 0;
    top: auto;
    bottom: -50px;
}

.card-carousel .carousel-indicators li {
    background: #a3a3a3;
    border-radius: 50%;
    width: 20px;
    height: 1px;
}

.card-carousel .carousel-indicators .active {
    background: #707070;
}

.carousel-control-prev,
.carousel-control-next {
    width: 8%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 50px;
    height: 50px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: rgb(35, 35, 35);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(19px, 0);
    }
}